<ion-view view-title="Check Balalnce">
  <ion-content class="center-middle">
    <form >

      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Ether Account Address</span>
          <input type="text" ng-model="data.ethaddr" placeholder="0x2a...">
        </label>
      </div>
      <!-- <div class="item item-toggle">
        Save Address
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model="data.ifSave">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div> -->

      <div class="padding">
        <button class="button button-block button-positive" ng-click="checkBalance(data)">Check Balance</button>
      </div>
    </form>
    
    <div class="padding centered balancetxt" ng-show="response">
      {{ response }}
    </div>

    <div class="padding centered red" ng-show="error">
      {{ error }}
    </div>

  </ion-content>
</ion-view>
