<div class="bar bar-header">
  <h1 class="title">Credits</h1>
</div>

<ion-view view-title="Credits">
  <ion-content class="content-margin">

    <div class="row">
      <div class="col centered muted">
        This project <a href="https://github.com/lightrainstech/etherwallet">etherwallet</a> is Open Source under MIT. <br>
        Please feel free to fork and add your changes.
      </div>
    </div>
    <div class="row">
      <div class="col centered">
        <p class="muted">
          Donations are welcome.
        </p>
        ETH: <div class="donate selectable" >0xc2593b43eef66488d45b014fc8f86830f08c48fd</div>

        BTC: <div class="donate selectable" >1Fj87rtZ7KvjXkoLY5wbgMN4A5H6QiuxpZ</div>

        <small>{{copied}}</small>
      </div>

    </div>

    <div class="list padding-top">
      <div class="item item-divider">
        API
      </div>
      <a class="item" href="https://etherchain.org">
        etherchain.org
      </a>

      <a class="item" href="https://CoinCap.io">
        CoinCap.io
      </a>

      <div class="item item-divider">
        Development Sponsors
      </div>
      <!-- <a class="item" href="http://lightrains.com">
      Lightrains Technolabs Pvt Ltd
    </a> -->
    <a class="item" href="https://pegke.com">
      Pegke Loyalty
    </a>
    <!-- <div class="item item-divider">
      Developers
    </div>
    <a class="item" href="http://github.com/niksmac">
      <i class="icon ion-social-github"></i> niksmac
    </a>
    <a class="item" href="http://github.com/jikkkujose">
      <i class="icon ion-social-github"></i> jikkkujose
    </a> -->
  </div>


</ion-content>
</ion-view>
