<div class="bar bar-header">
  <h1 class="title">Price Statitics</h1>
</div>
<ion-view view-title="Price">
  <ion-content class="content-margin">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="row">
      <canvas id="line" class="chart chart-line" chart-data="data"
      chart-labels="labels" chart-series="series"
      chart-click="onClick" chart-colours="green" >
    </canvas>
  </div>
  <div class="row padding">
    <div class="col centered balancetxt" ng-bind-html="lastusd">
    </div>
  </div>
  <ion-list>
    <ion-item ng-repeat="item in items">
      <h2>{{ item.usd | currency:'USD' }}</h2>
      <p>{{ item.time | date:'MM-dd-yyyy HH:MM:ss' }}</p>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
