<ion-view view-title="Send Ether">
  <ion-content class="center-middle">
    <div class="padding">
      <div class="muted centered">
        This feature is currently under development.
      </div>

      <div class="row">
        <hr>
        <div class="col centered">
          <p class="muted">
            Donations are welcome.
          </p>
          ETH: <a href="#" ng-click="copyThis()">0xc2593b43eef66488d45b014fc8f86830f08c48fd</a>
          <small>{{copied}}</small>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
