<div class="bar bar-header">
  <h1 class="title">Send Ether</h1>
</div>
<ion-view view-title="Send Ether">
  <ion-content class="center-middle content-margin">
    <div class="padding">
      <div class="muted centered">
        This feature is currently under development.
      </div>

      <div class="row">
        <div class="col centered">
          <p class="muted">
            Donations are welcome.
          </p>
          ETH: <div class="donate selectable" >0xc2593b43eef66488d45b014fc8f86830f08c48fd</div>

          BTC: <div class="donate selectable" >1Fj87rtZ7KvjXkoLY5wbgMN4A5H6QiuxpZ</div>

          <small>{{copied}}</small>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
