<ion-tabs class="tabs-icon-top">
  <ion-tab title="Price" icon="ion-speedometer" href="#/tab/price">
    <ion-nav-view name="price-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Market" icon="ion-ios-pulse-strong" href="#/tab/marketcap">
    <ion-nav-view name="marketcap-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Home" icon="ion-android-unlock" href="#/tab/checkbalance">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Send" icon="ion-paper-airplane" href="#/tab/send">
    <ion-nav-view name="send-tab"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Credits" icon="ion-social-github" href="#/tab/credits">
    <ion-nav-view name="credits-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
