<div class="bar bar-header">
  <h1 class="title">Wallet</h1>
</div>
<ion-view view-title="Wallet">
<ion-content class="has-header ">


<div class="list" ng-show="!hasLogged">
<form name="login" ng-submit="Login(password,code)">
  <div class="item">
    <p class="text-center">Choose a strong password to encrypt <br>
      your wallet.<br>
      Set a 4 digit password for rapid access</p>
  </div>
  <label class="item item-input">
    <input type="password" ng-model="password" required="true" placeholder="Password">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="confirmPassword" required="true" placeholder="Retype Password">
  </label>
  <label class="item item-input">
    <input type="password" ng-model="code" required="true" placeholder="Code">
  </label>
  <button class="button button-block button-balanced" ng-disabled="!login.$valid || confirmPassword!=password">
  Create New Wallet
 </button>
 </form>
</div>

<balance

<div class="card">
  <div class="item item-text-wrap">
    Wallet Balance : {{ balance }}
  </div>
</div>



</ion-content>
</ion-view>
